:root {
    --green: green;
    --black: #1e0b04;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    --border: 2rem solid rgba(0,0,0,1);
    --outline: .1rem solid rgba(0,0,0,1);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .2s linear;
    font-family:'Times New Roman';
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}


/* header section starts */

.header {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    display: flex;
    padding: 1rem 7%;
    box-shadow: var(--box-shadow);
    font-style: italic;
    cursor: pointer;
    font-family: 'Times New Roman';
    transition: ease .5s;
}

.header .logo {
    font-size: 3.7em;
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.header .logo i {
    color: var(--green);
}

.header .navbar a {
    position: relative;
    font-size: 1.4em;
    color: var(--black);
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    margin-left: 35px;
    font-family: 'Times New Roman';
    cursor: pointer;
    transition: ease .5s;
}

.header .navbar a:hover {
    color: red;
    text-decoration: underline;
}

.header .icons div {
    border: 0px solid;
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    border-radius: .4rem;
    background: #eee;
    color: var(--black);
    font-size: 1.3rem;
    margin-right: .2rem;
    text-align: center;
    cursor: pointer;
    transition: ease .5s;
}

.header .icons div:hover {
    color: #fff;
    background: var(--green);
}

#menu-btn {
    display: none;
}


.header .search-form {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 20rem;
    height: 3rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.header .search-form.active {
    right: 2rem;
    transition: .4s linear;
}

.header .search-form input {
    width: calc(100% - 2.5rem);
    height: 100%;
    background: none;
    font-size: 1.2rem;
    text-transform: none;
    color: var(--black);
    padding: 0 1.5rem;
    border: none;
    outline: none;
}

.header .search-form label {
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 100%;
    text-align: center;
    line-height: 3rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover {
    color: var(--green);
}

/*----------- Shopping Cart Products ------------*/

.header .shopping-cart {
    border: 0px solid;
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 26rem;
    background: #fff;
}

.header .shopping-cart.active {
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .box {
    border: 0px solid blue;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: rem 0;
    position: relative;
}

.header .shopping-cart .box img {
    height: 7rem;
}

.header .shopping-cart .box .fa-trash {
    font-size: 1.1rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover {
    color: var(--green);
}

.header .shopping-cart .box .content h3 {
    color: var(--black);
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span {
    color: var(--light-color);
    font-size: 1.2rem;
}

.header .shopping-cart .box .content .quantity {
    padding-left: 1rem;
}

.header .shopping-cart .total {
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
    font-weight: bold;
    color: var(--black);
}

.header .shopping-cart .btn {
    background: #eee;
    border: 0px solid;
    margin: 1rem 0;
    display: block;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--black);
    text-align: center;
    cursor: pointer;
    font-style: italic;
    transition: ease .5s;
}

.header .shopping-cart .btn:hover {
    background: var(--green);
    color: #fff;
}








/*----------- Login Memeber ------------*/


.header .login-form {
    border: 0px solid;
    position: absolute;
    width: 24rem;
    top: 110%;
    right: -110%;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}

.header .login-form.active {
    right: 2rem;
    transition: .4s linear;
}

.header .login-form h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--black);
    padding: 1rem;
    color: red;
    text-decoration: underline;
}

.header .login-form .box {
    width: calc(100% - 2.5rem);
    border: 0px solid;
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.1rem;
    color: var(--black);
    text-transform: none;
}

.header .login-form p {
    font-size: 1rem;
    padding: .4rem 0;
    color: var(--light-color);
    cursor: pointer;
}

.header .login-form p a {
    color: var(--green);
    text-decoration: underline;
}

.header .login-form .btn {
    width: calc(100% - 2.5rem);
    border: 0px solid;
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.1rem;
    color: var(--black);
    cursor: pointer;
    font-style: italic;
    transition: ease .5s;
}

.header .login-form .btn:hover {
    background: var(--green);
    color: #fff;
}



/* ------------- Home -------------- */

.home {
    border: 0px solid;
    display: flex;
    justify-content: center;
    background: url(/image/banner-image.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 12rem;
    padding-bottom: 10rem;
}

.content {
    border: 0px solid;
    text-align: center;
    width: 50rem;
}

.card-content h2 {
    color: var(--black);
    font-weight: none;
    font-size: 2.5rem;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.content h3 {
    color: var(--black);
    font-weight: bold;
    font-size: 3.8rem;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.home .content h3 span {
    color: var(--green);
    text-decoration: underline;
}

.content p {
    padding: .7rem 0;
    font-size: 1.3rem;
    font-style: italic;
    line-height: 1;
    color: var(--light-color);
    font-family: 'Times New Roman', Times, serif;
}

.content a {
    border: .2rem solid var(--black);
    margin: .7rem;
    font-weight: bold;
    padding: .7rem 1rem;
    display: inline-block;
    font-size: 1.2rem;
    border-radius: .5rem;
    color: var(--black);
    cursor: pointer;
    background: none;
    font-style: italic;
    transition: .7s;
}

.content a:hover {
    background: var(--green);
    color: #fff;
}


/* banner section starts */

.card-content {
    margin-bottom: 50px;
}

.card-content button {
    border: .2rem solid var(--black);
    margin: 1rem;
    font-weight: bold;
    padding: .8rem 3rem;
    display: inline-block;
    font-size: 1rem;
    border-radius: .5rem;
    color: var(--black);
    cursor: pointer;
    background: none;
    font-style: italic;
    transition: ease .5s;
}

.card-content button:hover {
    background: var(--green);
    color: #fff;
}

input {
    width: 55%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1.2px solid #1e0b04;
    border-radius: 4px;
}

/* banner section ends */


/* Features starts*/

section {
    padding: 1rem 9%;
}

.heading {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 2.4rem;
    color: var(--black);
}

.heading span {
    background: var(--green);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.features .box-container {
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
}

.features .box-container .box {
    border: Opx solid red;
    padding: 1rem .5rem;
    background: #fff;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.features .box-container .box:hover {
    box-shadow: 1px 1px 10px 4px var(--green);
}

.features .box-container .box img {
    margin: 1rem;
    height: 10rem;
}

.features .box-container .box h3 {
    font-size: 2rem;
    line-height: 1.8;
    font-style: italic;
    color: var(--black);
}

.features .box-container .box p {
    font-size: 1rem;
    line-height: 1.8;
    font-style: italic;
    color: var(--light-color);
    padding-bottom: 1rem 0;
}

.features .box-container .box a {
    border: .2rem solid var(--black);
    margin: 1rem;
    font-weight: bold;
    padding: .7rem 2rem;
    display: inline-block;
    font-size: 1rem;
    border-radius: .5rem;
    color: var(--black);
    cursor: pointer;
    background: none;
    font-style: italic;
    transition: ease .5s;
}

.features .box-container .box a:hover {
    background: var(--green);
    color: #fff;
}

/* Features ends*/


/* categories starts */

.categories .box-container {
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
}

.categories .box-container .box {
    padding: 2rem 0;
    background: #fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    text-align: center;
}

.categories .box-container .box:hover {
    box-shadow: 1px 1px 10px 4px var(--green);
}

.categories .box-container .box img {
    margin: 1rem 0;
    height: 10rem;
}

.categories .box-container .box h3 {
    font-size: 1.5rem;
    color: var(--black);
    Line-height: 1.8;
}

.categories .box-container .box p {
    font-size: 1.2rem;
    color: var(--Light-color);
    Line-height: 1.8;
    padding: 1rem 0;

}

.categories .box-container .box a {
    border: .2rem solid var(--black);
    margin: 1rem;
    font-weight: bold;
    padding: .7rem 2rem;
    display: inline-block;
    font-size: 1rem;
    border-radius: .5rem;
    color: var(--black);
    cursor: pointer;
    background: none;
    font-style: italic;
    transition: .7s;
}

.categories .box-container .box a:hover {
    background: var(--green);
    color: #fff;
}

/* categories ends */



/* footer starts */

.footer {
    background: #fff;
    display: flex;
    flex-direction: column;
}

.footer .box-container {
    border: 0px solid;
    display: flex;
    justify-content: space-between;
}

.footer .box {
    flex: 1;
    border: 0px solid;
    padding: 20px;
    text-decoration: underline;
}

.footer .box-container .box h3 {
    font-size: 1.7rem;
    padding: 1rem 0;
    font-style: italic;
    color: var(--black);
    font-family: 'Times New Roman', Times, serif;
}

.footer .box-container .box h3 i {
    color: var(--green);
}

.footer .box-container .box .links {
    display: block;
    padding: 1rem 0;
    font-size: 1.1rem;
    color: var(--light-color);
}

.footer .box-container .box .links i {
    color: var(--green);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i {
    padding-right: 2rem;
}

.footer .box-container .box p {
    line-height: 1.8;
    padding: 1rem 0;
    font-size: 1.1rem;
    font-style: italic;
    color: var(--light-color);
}

.footer .box-container .box .share a {
    width: 2.5rem;
    height: 2.5rem;
    border: 0px solid;
    line-height: 2.5rem;
    font-size: 1.2rem;
    border-radius: .5rem;
    color: var(--black);
    margin-left: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover {
    background: var(--green);
    color: #fff;
}

.footer .box-container .box .email {
    width: 60%;
    margin: .3rem 0;
    padding: 1rem;
    border-radius: .4rem;
    background: #eee;
    font-size: 1rem;
    color: var(--black);
    text-transform: none;
}

.footer .box-container .box .btn {
    width: 60%;
    margin: .3rem 0;
    padding: 1rem;
    border-radius: .4rem;
    background: #eee;
    font-size: 1rem;
    color: var(--black);
    text-transform: none;
    cursor: pointer;
    font-style: italic;
    transition: .7s;
}

.footer .box-container .box .btn:hover {
    background: var(--green);
    color: #fff;
}

.footer .credit {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--black);
    border-top: var(--border);
}

.footer .credit span {
    color: var(--green);
    text-decoration: underline;
}

.footer .card {
    width: calc(100% - 2.5rem);
    border: 0px solid;
    margin: 1rem 1rem;
    background: #eee;
    border-radius: .5rem;
    text-decoration: underline;
    text-transform: none;
    box-sizing: border-box;
    border: 2px solid darkgreen;
    border-radius: 4px;
    text-align: center;
    font-size: 1.7rem;
    padding: 1.5rem 0;
    font-style: italic;

    font-family: 'Times New Roman', Times, serif;
}

#result-info {
    margin-top: 20px;
}

#result > h4 {
    color: red;
}

#result-info p {
    color: black;
}

/* Footer ends */